{% extends 'base.html.twig' %}

{% block title %}Formulaire newsletter{% endblock %}

{% block body %}
	<div class="container">
		<div class="card w-50 mt-3 m-auto">
			<div class="card-header p-3">
				<h1 class="m-0">Inscription Newsletter</h1>
			</div>
			<div class="card-body">
				{{ form_start(form) }}
				<div class="form-floating mb-3">
					{{ form_widget(form.email) }}
					{{ form_label(form.email) }}
				</div>
				<div class="mb-3">
					{{ form_widget(form.isRgpd) }}
				</div>
				<div class="text-center mt-5">
					{{ form_widget(form.submit) }}
				</div>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
