{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
	<div class="container">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			
			{% if app.user %}
				<div class="mb-3">
					Vous êtes déjà connecter sur {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
				</div>
			{% endif %}
			
			<h1 class="mb-3 font-weight-normal">Connexion</h1>
			<div class="form-floating mb-3">
				<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" placeholder="example" required autofocus>
				<label for="inputUsername">Utilisateur</label>
			</div>
			
			<div class="form-floating mb-3">
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de passe" required>
				<label for="inputPassword">Mot de passe</label>
			</div>
			
			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" name="_remember_me" class="form-check-input"> Se souvenir de moi
				</label>
			</div>
			
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			
			<button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
		</form>
	</div>
{% endblock %}
