{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
	<div class="hero-image">
		<div class="hero-text">
			<h1>K-gaming : La plateforme incontournable pour les gamers</h1>
			<p>K-gaming est la destination de choix pour tous les <strong>passionnés</strong> de jeux vidéo. Avec une large sélection
				de
				<strong>clés de jeux dématérialisées</strong> à des prix <strong>compétitifs</strong>, nous sommes la plateforme incontournable pour
				tous
				les gamers. Faites l'expérience de notre service client de <strong>qualité supérieure</strong> et de notre rapidité
				de
				livraison exceptionnelle. Rejoignez la communauté K-gaming dès maintenant et découvrez notre
				sélection
				de jeux !</p>
		</div>
	</div>
	<section class="tendencies">
		<h2>Tendances</h2>
		<div class="cards">
			{% for tendency in tendencies %}
				<a href="{{ path('app_show_game', {gameSlug: tendency.slug}) }}">
					<div class="gameCard">
						<div class="cover-img">
							<img src="//images.igdb.com/igdb/image/upload/t_cover_big/{{ render(controller('App\\Controller\\GameController::getImageIDGame', { gameLabel: tendency.label })) }}.jpg"
							     draggable="false"
							     alt="cover for game: {{ tendency.label }}">
						</div>
						<div class="infos">
							<div class="label">
								{{ tendency.label }}
							</div>
							<div class="price">
								{{ tendency.price }} €
							</div>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</section>

	<section class="rating">
		<div class="stars">
			<div class="star">
				<i class="bi bi-star-fill"></i>
			</div>
			<div class="star">
				<i class="bi bi-star-fill"></i>
			</div>
			<div class="star">
				<i class="bi bi-star-fill"></i>
			</div>
			<div class="star">
				<i class="bi bi-star-fill"></i>
			</div>
			<div class="star">
				<i class="bi bi-star-fill"></i>
			</div>
		</div>
		<div class="text-content">
			Avez-vous déjà consulté les avis des utilisateurs sur K-GAMING ?<br>Nos clients sont ravis de partager leur
			expérience d'achat de clés de jeux en dématérialisé sur notre site.<br>Venez découvrir leurs témoignages et
			rejoignez notre communauté de joueurs satisfaits !
		</div>
		<div class="btn-ratings">
			<a href="#">Voir les avis utilisateurs</a>
		</div>
	</section>

	<section class="preorders">
		<h2>Précommandes</h2>
		<div class="cards">
			{% for preorder in preorders %}
				<a href="{{ path('app_show_game', {gameSlug: preorder.slug }) }}">
					<div class="gameCard">
						<div class="cover-img">
							<img src="//images.igdb.com/igdb/image/upload/t_cover_big/{{ render(controller('App\\Controller\\GameController::getImageIDGame', { gameLabel: preorder.label })) }}.jpg"
							     alt="cover for game: {{ preorder.label }}">
						</div>
						<div class="infos">
							<div class="label">
								{{ preorder.label }}
							</div>
							<div class="price">
								{{ preorder.price }} €
							</div>
						</div>
						<div class="preco">
							<div class="badge">Préco</div>
							<div class="date">
								{{ dateFR(preorder.date_release) }}
							</div>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
		<div class="show-more">
			<a href="{{ path('app_show_preorders') }}">Voir plus</a>
		</div>
	</section>

	<section class="newsletter">
		<div class="icon">
			<i class="bi bi-envelope-at-fill"></i>
		</div>
		<div class="text-content">
			Ne manquez pas nos offres exclusives et nos dernières nouveautés sur
			K-GAMING ! <br>Rejoignez notre communauté de joueurs passionnés et profitez de nos produits de qualité à des
			prix imbattables. <br>Abonnez-vous dès maintenant pour recevoir toutes nos actualités et nos promotions en
			avant-première.
		</div>
		<div class="btn-ratings">
			<a href="{{ path('newsletter_subscribe') }}">S'inscrire !</a>
		</div>
	</section>

	<section class="genres">
		<h2>Genres</h2>
		<div class="cards">
			{% for genre in genres %}
				<a href="{{ path('app_show_game_genre', {genreSlug: genre.slug}) }}">
					<div class="genreCard">
						<figure>
							<img src="{{ genre.image }}" alt="image pour le genre : {{ genre.label }}" width="400"
							     height="300">
							<figcaption>
								{{ genre.label|upper }}
							</figcaption>
						</figure>
					</div>
				</a>
			{% endfor %}
		</div>
		<div class="show-more">
			<a href="{{ path('app_genre_list') }}">Voir plus</a>
		</div>
	</section>
{% endblock %}
