{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
	<div class="container user-profil text-center">
		<div class="user-about d-flex justify-content-center my-2 flex-column w-auto">
			<div class="avatar mb-3">
				<img src="{{ user.avatar }}" alt="avatar of {{ user.username }}">
			</div>
			<div class="username">
				Pseudo : <strong>{{ user.username }}</strong>
			</div>
			<div class="member-since">
				Membre depuis : <strong>{{ fullDateFR(user.createAt) }}</strong>
			</div>
		</div>
		<div class="user-infos d-flex flex-wrap justify-content-center my-5 gap-5">
			<div class="settings">
				<h2>Personnalisez votre profil</h2>
				<div class="d-flex flex-column flex-wrap w-100 gap-4">
					<div class="avatar d-flex align-items-center flex-row gap-3">
						<div class="infos w-50">
							<h3>Avatar de profil</h3>
							<p>
								Vous pouvez choisir un avatar parmi ceux proposés, les avatars sont générés aléatoirement à chaque rechargement de page.
							</p>
						</div>
						<div class="card w-50 p-3">
                            {% for avatar in avatars %}
                                {% set url = avatar %}
                                {% set parts = url|split('/') %}
                                {% set lastPart = parts|last %}
                                {% set finalUrl = lastPart|split('.png') %}
                                {% set avatarUrl = finalUrl|first %}
                                <a href="{{ path('user_update_avatar', {image: avatarUrl}) }}">
                                    <img src="{{ avatar }}" alt="randomly avatar {{ loop.index }}" loading="lazy">
                                </a>
                            {% endfor %}
						</div>
					</div>
					<hr class="w-100">
					<div class="username d-flex align-items-center flex-row gap-3">
						<div class="infos w-50">
							<h3>Changer de pseudo</h3>
							<p>
								Vous pouvez changer de pseudo à partir du moment où il n'est pas déjà utilisé par un autre membre.
							</p>
						</div>
						<div class="card w-50 p-3">
							{{ form_start(usernameForm, {attr: {'class': 'd-flex align-items-center flex-row gap-3'}}) }}
							{{ form_widget(usernameForm.username) }}
							{{ form_widget(usernameForm.submit) }}
							{{ form_end(usernameForm) }}
						</div>
					</div>
					<hr class="w-100">
					<div class="password d-flex align-items-center flex-row gap-3">
						<div class="infos w-50">
							<h3>Changer de mot de passe</h3>
							<p>
								Si vous souhaitez changer de mot de passe, vous devez saisir votre mot de passe actuel puis saisir deux fois votre nouveau mot de passe.
							</p>
						</div>
						<div class="card w-50 p-3">
							{{ form_start(passwordForm, {attr: {class: 'd-flex align-items-center flex-column gap-3'}}) }}
							<div class="form-floating w-100">
								{{ form_widget(passwordForm.currentPassword) }}
								{{ form_label(passwordForm.currentPassword) }}
							</div>
							<div class="new-password d-flex flex-row w-100 gap-3">
								<div class="form-floating w-100">
									{{ form_widget(passwordForm.plainPassword.first) }}
									{{ form_label(passwordForm.plainPassword.first) }}
								</div>
								<div class="form-floating w-100">
									{{ form_widget(passwordForm.plainPassword.second) }}
									{{ form_label(passwordForm.plainPassword.second) }}
								</div>
							</div>
								{{ form_widget(passwordForm.submit) }}
							{{ form_end(passwordForm) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="user-ratings">
			<h2>Vos avis</h2>
			<div class="ratings">
				{% for rating in user.ratings %}
					<div class="card">
						<div class="card-header d-flex flex-wrap justify-content-between align-items-center">
							<div class="game d-flex align-items-center gap-2">
								<img src="{{ rating.platform.logo }}" alt="logo {{ rating.platform.label }}">
								<strong>{{ rating.game.label }}</strong>
							</div>
							{% include 'components/rating/_rating.html.twig' %}
						</div>
						<div class="card-body">
							<p>{{ rating.message }}</p>
						</div>
						<div class="card-footer d-flex flex-wrap justify-content-between">
							<div class="createdAt">
								{% if rating.updatedAt %}
									<small>Mis à jour le <strong>{{ fullDateFR(rating.updatedAt) }}</strong></small>
									{% else %}
									<small>Posté le <strong>{{ fullDateFR(rating.createdAt) }}</strong></small>
								{% endif %}
							</div>
							{% if app.user.id == rating.user.id %}
								<div class="actions">
									<a href="{{ path('rating_edit', {gameSlug: rating.game.slug, platformSlug: rating.platform.slug}) }}"><i class="bi bi-gear"></i></a>
									<a href="{{ path('rating_delete', {gameSlug: rating.game.slug, platformSlug: rating.platform.slug}) }}"><i class="bi bi-trash"></i></a>
								</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
