{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
	<div class="container text-center">
		
		
		<div class="user-infos d-flex justify-content-center flex-column w-auto">
			<div class="avatar">
				<img src="{{ user.avatar }}" alt="avatar of {{ user.username }}" width="100" height="100">
			</div>
			<div class="username">
				<strong>{{ user.username|upper }}</strong>
			</div>
			<div class="member-since">
				<small>Membre depuis : <strong>{{ fullDateFR(user.createAt) }}</strong></small>
			</div>
		</div>
		<div class="about d-flex flex-wrap justify-content-center my-5 gap-5">
			<div class="settings">
				<h2>Personnalisez votre profil</h2>
				<div class="picture-pseudo d-flex flex-wrap w-100 gap-5">
					<div class="avatar d-flex flex-column gap-2">
						<div class="card">
							<div class="card-header">
								<label><strong>Photo de profil</strong></label>
							</div>
							<div class="card-body p-3">
								{{ form_start(avatarForm) }}
								{{ form_widget(avatarForm.avatar) }}
								{{ form_widget(avatarForm.submit) }}
								{{ form_end(avatarForm) }}
							</div>
						</div>
					</div>
					<div class="username d-flex flex-column gap-2">
						<div class="card">
							<div class="card-header">
								<label><strong>Pseudo</strong></label>
							</div>
							<div class="card-body">
								{{ form_start(usernameForm) }}
								{{ form_widget(usernameForm.username) }}
								{{ form_widget(usernameForm.submit) }}
								{{ form_end(usernameForm) }}
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="user-ratings">
			<h2>Vos avis</h2>
			<div class="ratings text-center">
				{% for rating in user.ratings %}
					<div class="card w-25 m-auto">
						<div class="card-header">
							<strong>{{ rating.game.label }} ({{ rating.platform.label }})</strong>
						</div>
						<div class="card-body">
							<p>{{ rating.message }}</p>
							<div class="note d-flex">
								{% for i in 1..rating.note %}
									<i class="bi bi-star-fill"></i>
								{% endfor %}
								{% if rating.note < 5 %}
									{% for i in 1..(5-rating.note) %}
										<i class="bi bi-star"></i>
									{% endfor %}
								{% endif %}
							</div>
						</div>
						<div class="card-footer">
							<small>Posté le {{ fullDateFR(rating.createdAt) }}</small>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
