<div class="card">
    <div class="card-header d-flex flex-wrap justify-content-between align-items-center">
        <div class="user d-flex gap-2 align-items-center">
            {% if rating.user is null %}
                <img src="{{ asset('img/default.png') }}" alt="image d'avatar par défaut" loading="lazy">Utilisateur supprimé
            {% else %}
                <img src="{{ rating.user.avatar }}" alt="avatar of user {{ rating.user.username }}" loading="lazy">{{ rating.user.username }}
            {% endif %}
        </div>
        {% include 'components/rating/_rating.html.twig' %}
    </div>
    <div class="card-body">
        <div class="card-text">{{ rating.message }}</div>
    </div>
    <div class="card-footer d-flex flex-wrap justify-content-between align-items-center">
        <div class="date">
            {% if rating.updatedAt %}
                <small>Mis à jour le <strong>{{ fullDateFR(rating.updatedAt) }}</strong></small>
            {% else %}
                <small>Posté le <strong>{{ fullDateFR(rating.createdAt) }}</strong></small>
            {% endif %}
        </div>
        <div class="platform">
            <a href="{{ path('app_show_game_platform', {gameSlug: rating.game.slug, platformSlug: rating.platform.slug}) }}">
            <img src="{{ rating.platform.logo }}"
                 alt="logo de le plateforme {{ rating.platform.label }}">
            {{ rating.game.label }}</a>
        </div>
    </div>
</div>