{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
	<div class="container">
		<h1>Réinitialiser votre mot de passe</h1>
		<div class="card w-25 p-3 d-flex flex-column m-auto gap-3">
			{% for flash_error in app.flashes('reset_password_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}
			{{ form_start(requestForm) }}
			<div class="form-floating mb-3">
				{{ form_widget(requestForm.email) }}
				{{ form_label(requestForm.email) }}
			</div>
			<div>
				Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
			</div>
			<div>
				<button class="btn-primary-orange mt-3">Envoyer le mail de réinitialisation de mot de passe</button>
			</div>
			{{ form_end(requestForm) }}
		</div>
	</div>
{% endblock %}
