{% extends 'base.html.twig' %}

{% block title %}
	{{ gamePlatform[0].game_label }}
{% endblock %}

{% block body %}
	<div class="detailGame">
		<section class="detail">
			<h1>Detail produit</h1>
			<div class="coverDesc">
				<div class="cover">
					<img src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ render(controller('App\\Controller\\GameController::getImageIDGame', { gameLabel: gamePlatform[0].game_label })) }}.jpg"
					     draggable="false"
					     alt="cover for game: {{ gamePlatform[0].game_label }}">
				</div>
				<div class="desc">
					<h2>{{ gamePlatform[0].game_label }}</h2>
					<div class="flex-content">
						<div class="infos">
							<div class="plateform">
								<img src="{{ gamePlatform[0].platform_logo }}"
								     alt="logo of {{ gamePlatform[0].platform_label }}"
								     height="32" width="32">
								{{ gamePlatform[0].platform_label }}
							</div>

							<div class="stock">
								{% if date(game.dateRelease) > date() %}
									<p>
										<i class="bi bi-check-lg text-success"></i>
										Disponible en précommande</p>
								{% else %}
									{% if gameStock %}
										{% if gameStock[0].total > 0 %}
											<p>
												<i class="bi bi-check-lg text-success"></i>
												En stock
												({{ gameStock[0].total }} {{ (gameStock[0].total > 1) ? 'disponibles' : 'disponible' }}
												)</p>
										{% else %}
											<p>
												<i class="bi bi-x-lg text-danger"></i>
												En rupture de stock</p>
										{% endif %}
									{% else %}
										<p>
											<i class="bi bi-x-lg text-danger"></i>
											En rupture de stock</p>
									{% endif %}
								{% endif %}
							</div>
						</div>

						<div class="plateform-price">
							<select class="form-select" name="plateform" id="plateform">
								<option value="" selected disabled hidden>Selectionner une plateforme</option>
								{% for plateform in game.plateforms %}
									<option value="{{ plateform.slug }}">{{ plateform.label }}</option>
								{% endfor %}
							</select>
							<p>{{ gamePlatform[0].price|price }} (HT)</p>
						</div>

						<div class="btns">
							{% if date(game.dateRelease) > date() %}
								<a href="" class="btn btn-primary w-100">Précommander</a>
							{% else %}
								{% if gameStock[0].total > 0 %}
									<a href="{{ path('app_add_cart', {gameSlug: game.slug, platformSlug: gamePlatform[0].platform_slug}) }}"
									   class="btn btn-primary"><i
												class="bi bi-bag-plus"></i></a>
									<a href="{{ path('app_buy_now', {gameSlug: game.slug, platformSlug: gamePlatform[0].platform_slug}) }}"
									   class="btn btn-primary w-100">Acheter
										maintenant</a>
								{% else %}
									<a class="btn btn-primary disabled"><i class="bi bi-bag-plus"></i></a>
									<a class="btn btn-primary w-100 disabled">Acheter maintenant</a>
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="about mt-5">
			<h2>A propos</h2>
			<div class="content mb-5">
				<div class="description">
					{{ render(controller('App\\Controller\\GameController::getSummaryGame', { gameLabel: game.label })) }}
				</div>
				<div class="infos">
					<div class="release">
						<strong>Date de sortie :</strong>
						<p>{{ dateFR(game.dateRelease) }}</p>
					</div>
					<div class="genres">
						<strong>Genres :</strong>
						<p>
							{% for genre in game.genres %}
								{{ genre.label }}{% if not loop.last %}, {% endif %}
							{% endfor %}
						</p>
					</div>
				</div>
			</div>
		</section>

		<section class="screenshots">
			<h2>Photos</h2>
			<div id="carouselPhotos" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					{{ render(controller('App\\Controller\\GameController::getScreenshotsGame', { gameLabel: game.label })) }}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselPhotos"
				        data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Précédent</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselPhotos"
				        data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Suivant</span>
				</button>
			</div>
		</section>

		{% if ratings %}
			<section class="ratings">
				<h2>Notes utilisateurs</h2>

				<div class="rating-cards">
					{% for rating in ratings %}
						<div class="card w-25">
							<div class="card-header d-flex justify-content-between align-items-center">
								<div class="user d-flex gap-2 align-items-center">
									<img src="{{ rating.user.avatar }}" alt="avatar of user {{ rating.user.username }}"
									     width="32" height="32">
									{{ rating.user.username }}
								</div>
								<div class="note d-flex">
									{% for i in 1..rating.note %}
										<i class="bi bi-star-fill"></i>
									{% endfor %}
									{% if rating.note < 5 %}
										{% for i in 1..(5-rating.note) %}
											<i class="bi bi-star"></i>
										{% endfor %}
									{% endif %}
								</div>
							</div>
							<div class="card-body">
								<div class="card-text">{{ rating.message }}</div>
							</div>
							<div class="card-footer">
								<div class="date">
									Crée le : {{ rating.createdAt|date('d/m/Y - H:i') }}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</section>
		{% endif %}


		{# <section class="videos">
			<h2>Vidéos (trailer)</h2>
			<div class="content">
				{{ render(controller('App\\Controller\\GameController::getVideosGame', { gameLabel: game.label })) }}
			</div>
		#}{# <div id="carouselTrailers" class="carousel slide">
				<div class="carousel-inner">
					{{ render(controller('App\\Controller\\GameController::getVideosGame', { gameLabel: game.label })) }}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselTrailers" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Précédent</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselTrailers" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Suivant</span>
				</button>
			</div> #}{#
		</section> #}
	</div>
{% endblock %}