{% extends 'base.html.twig' %}

{% block title %}
    {{ game.label }}
{% endblock %}

{% block body %}
    <section class="detail">
        <h1>Detail produit</h1>
        <div class="coverDesc">
            <div class="cover">
                <img src="//images.igdb.com/igdb/image/upload/t_cover_big/{{ render(controller('App\\Controller\\HomeController::getInfosGame', { gameLabel: game.label })) }}.jpg"
                     draggable="false" alt="cover for game: {{ game.label }}">
            </div>
            <div class="desc">
                <h2>{{ game.label }}</h2>
                <div class="infos">
                    <div class="plateform">
                        <img src="{{ gameStock[0].logo }}" alt="logo of {{ gameStock[0].platform }}" height="32"
                             width="32">
                        {{ gameStock[0].platform }}
                    </div>
                    <div class="stock">
                        {% if gameStock[0].total > 0 %}
                            <p>
                                <i class="bi bi-check-lg text-success"></i>
                                En stock ({{ gameStock[0].total }}
                                {% if gameStock[0].total > 1 %}
                                disponibles
                            {% else %}
                                disponible
                                {% endif %})</p>
                        {% else %}
                            <p>
                                <i class="bi bi-x-lg text-danger"></i>
                                En rupture de stock</p>
                        {% endif %}
                    </div>
                    <div class="download">
                        <i class="bi bi-check-lg text-success"></i>
                        Téléchargement digital
                    </div>
                </div>
                <div class="plateform-price">
                    <select class="plateforms" name="plateform" id="plateform">
                        {% for plateform in game.plateforms %}
                            <option value="{{ plateform.id }}">{{ plateform.label }}</option>
                        {% endfor %}
                    </select>
                    <p>{{ game.price }}
                        €</p>
                </div>
                <div class="btns">
                    <a href="{{ path('app_home', {'id': game.id}) }}" class="btn btn-primary"><i
                                class="bi bi-bag-plus"></i></a>
                    <a href="{{ path('app_home', {'id': game.id}) }}" class="btn btn-primary w-100">Acheter
                        maintenant</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
