{% extends 'base.html.twig' %}

{% block title %}
	{{ gamePlatform[0].game_label }}
{% endblock %}

{% block body %}
	<div class="detailGame">
		<section class="detail">
			<h1>Detail produit</h1>
			<div class="coverDesc">
				<div class="cover">
					<img
						src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{ render(controller('App\\Controller\\GameController::getImageIDGame', { gameLabel: gamePlatform[0].game_label })) }}.jpg"
						draggable="false" alt="cover for game: {{ gamePlatform[0].game_label }}">
				</div>
				<div class="desc">
					<h2>{{ gamePlatform[0].game_label }}</h2>
					<div class="flex-content">
						<div class="infos">
							<div class="plateform">
								<img src="{{ gamePlatform[0].platform_logo }}"
								     alt="logo of {{ gamePlatform[0].platform_label }}"
								     height="32" width="32">
								{{ gamePlatform[0].platform_label }}
							</div>
							
							<div class="stock">
								{% if date(game.dateRelease) > date() %}
									<p>
										<i class="bi bi-check-lg text-success"></i>
										Disponible en précommande</p>
								{% else %}
									{% if gameStock %}
										{% if gameStock[0].total > 0 %}
											<p>
												<i class="bi bi-check-lg text-success"></i>
												En stock
												({{ gameStock[0].total }} {{ (gameStock[0].total > 1) ? 'disponibles' : 'disponible' }}
												)</p>
										{% else %}
											<p>
												<i class="bi bi-x-lg text-danger"></i>
												En rupture de stock</p>
										{% endif %}
									{% else %}
										<p>
											<i class="bi bi-x-lg text-danger"></i>
											En rupture de stock</p>
									{% endif %}
								{% endif %}
							</div>
						</div>
						
						<div class="plateform-price">
							<select class="form-select" name="plateform" id="plateform">
								<option value="" selected disabled hidden>Selectionner une plateforme</option>
								{% for plateform in game.plateforms %}
									<option value="{{ plateform.id }}">{{ plateform.label }}</option>
								{% endfor %}
							</select>
							<p>{{ gamePlatform[0].price|price }} (HT)</p>
						</div>
						
						<div class="btns">
							{% if date(game.dateRelease) > date() %}
								<a href="" class="btn btn-primary w-100">Précommander</a>
							{% else %}
								{% if gameStock[0].total > 0 %}
									<a href="{{ path('app_add_cart', {id: game.id, idPlatform: gamePlatform[0].platform_id}) }}"
									   class="btn btn-primary"><i
											class="bi bi-bag-plus"></i></a>
									<a href="{{ path('app_buy_now', {id: game.id, idPlatform: gamePlatform[0].platform_id}) }}"
									   class="btn btn-primary w-100">Acheter
										maintenant</a>
								{% else %}
									<a class="btn btn-primary disabled"><i class="bi bi-bag-plus"></i></a>
									<a class="btn btn-primary w-100 disabled">Acheter maintenant</a>
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="about mt-5">
			<h2>A propos</h2>
			<div class="content mb-5">
				<div class="description">
					{{ render(controller('App\\Controller\\GameController::getSummaryGame', { gameLabel: game.label })) }}
				</div>
				<div class="infos">
					<div class="release">
						<strong>Date de sortie :</strong>
						<p>{{ dateFR(game.dateRelease) }}</p>
					</div>
					<div class="genres">
						<strong>Genres :</strong>
						<p>
							{% for genre in game.genres %}
								{{ genre.label }}{% if not loop.last %}, {% endif %}
							{% endfor %}
						</p>
					</div>
				</div>
			</div>
		</section>
		
		<section class="screenshots">
			<h2>Photos</h2>
			<div class="carousel slide carousel-fade w-auto">
				<div class="carousel-inner">
					{{ render(controller('App\\Controller\\GameController::getScreenshotsGame', { gameLabel: game.label })) }}
				</div>
			</div>
		</section>
	</div>
	
	
	{#    <section class="videos">
        <h2>Vidéos (trailer)</h2>
        {{ render(controller('App\\Controller\\GameController::getVideosGame', { gameLabel: game.label })) }}
        <div class="carousel slide carousel-fade w-auto">
            <div class="carousel-inner">
                {{ render(controller('App\\Controller\\GameController::getVideosGame', { gameLabel: game.label })) }}
            </div>
        </div>
    </section> #}
{% endblock %}