{% extends 'base.html.twig' %}

{% block title %}Liste de jeux {{ platform.label }}{% endblock %}

{% block body %}
    <section class="listGames">

        <h1>{{ platform.label }}</h1>

        {% if games %}
            <div class="cards">
                {% for game in games %}
                    <a href="{{ path('app_show_game_platform', {gameSlug: game.slug, platformSlug: platform.slug }) }}">
                        <div class="gameCard">
                            <div class="cover-img">
                                <img src="//images.igdb.com/igdb/image/upload/t_cover_big/{{ render(controller('App\\Controller\\GameController::getImageIDGame', { gameLabel: game.label })) }}.jpg"
                                     draggable="false"
                                     alt="cover for game: {{ game.label }}">
                            </div>
                            <div class="infos">
                                <div class="label">
                                    {{ game.label }}
                                </div>
                                <div class="price">
                                    {{ game.price }} €
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun jeu pour cette plateforme</p>
        {% endif %}
    </section>

    <div class="pagination-platform">
        {{ knp_pagination_render(games) }}
    </div>
{% endblock %}
