<header>
	<nav class="header-flex">
		<div class="logo">
			<a href="{{ path('app_home') }}">
				<img src="{{ asset('img/logo_Kgaming_fx.png') }}" alt="logo of website">
				<span>K-GAMING</span>
			</a>
		</div>
		<div class="menus">
			{% for category in categories %}
				<div class="dropdown">
					<button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
					        id="dropdown{{ category.label }}">
						{{ category.label }}
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdown{{ category.label }}">
						{% for plateform in plateforms %}
							{% if plateform.category.label == category.label %}
								<a href="{{ path('platform_game', {platformSlug: plateform.slug, categoryLabel: category.label|lower }) }}" class="dropdown-item">
									<img src="{{ plateform.logo }}" alt="logo of {{ plateform.label }}" loading="lazy">{{ plateform.label }}
								</a>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="icons">
			<div class="dropdown cart">
				<button class="dropBtn" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownCart">
					<i class="cart-icon bi bi-cart4"></i>
					{% if app.session.get('cart') %}
						<div class="cart-count-badge">
							<div class="notif_count">
								{% set quantity = null %}
								{% for cartItem in app.session.get('cart') %}
									{% set quantity = quantity + cartItem.quantity %}
								{% endfor %}
								{{ quantity }}
							</div>
						</div>
					{% endif %}
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownCart">
					{% if app.session.get('cart') %}
						<div class="dropdown-item">
							<div class="cart-item">
								<div class="cart-item-info">
									<p>{{ 'cart.menu.total'|trans({'%total%': cartTotal|price})|raw }}</p>
								</div>
							</div>
							<a href="{{ path('cart_index') }}" class="btn-primary-orange">{{ 'cart.menu.show_cart'|trans }}</a>
						</div>
						<div class="dropdown-item">
							<a href="{{ path('cart_remove_all') }}" class="btn-secondary-blue">{{ 'cart.menu.clear_cart'|trans }}</a>
						</div>
					{% else %}
						<div class="dropdown-item">
							<p>{{ 'cart.menu.empty_cart'|trans }}</p>
						</div>
					{% endif %}
				</div>
			</div>
			<div class="dropdown user">
				<button class="dropBtn" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownUser">
					{% if app.user %}
						{% if app.user.avatar %}
							<img src="{{ app.user.avatar }}" class="profilePicture"
							     alt="profil image of {{ app.user.username }}" loading="lazy">
						{% endif %}
					{% else %}
						<i class="bi bi-person-fill-gear"></i>
					{% endif %}
				</button>
				<div class="dropdown-menu text-small shadow right" aria-labelledby="dropdownUser">
					{% if app.user %}
						{% if is_granted("ROLE_ADMIN") %}
							<a href="{{ path('app_admin') }}">{{ 'user.menu.admin'|trans }}</a>
							<a href="{{ path('newsletter_list') }}">{{ 'user.menu.newsletter'|trans }}</a>
							<hr class="dropdown-divider">
						{% endif %}
						<a href="{{ path('user_my_account') }}">{{ 'user.menu.my_account'|trans }}</a>
						<a href="{{ path('user_my_order') }}">{{ 'user.menu.my_orders'|trans }}</a>
						<a href="{{ path('user_my_preference') }}">{{ 'user.menu.my_preference'|trans }}</a>
						<hr class="dropdown-divider">
						<a href="{{ logout_path() }}" class="disconnect">{{ 'user.menu.logout'|trans }}</a>

					{% else %}
						<a href="{{ path('app_login') }}">{{ 'user.menu.login'|trans }}</a>
						<a href="{{ path('app_register') }}">{{ 'user.menu.register'|trans }}</a>
					{% endif %}
				</div>
			</div>
			<div class="dropdown locale">
				<button class="dropBtn locale" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownLocale">
					{% if app.request.locale == "en" %}
						ENG
						{% else %}
						FRA
					{% endif %}
				</button>
				<div class="dropdown-menu text-small shadow right" aria-labelledby="dropdownLocale">
					<a href="{{ path('change_language', {_locale: 'fr'}) }}" class="dropdown-item">
						{{ 'locale.fr'|trans }}
					</a>
					<a href="{{ path('change_language', {_locale: 'en'}) }}" class="dropdown-item">
						{{ 'locale.en'|trans }}
					</a>
				</div>
			</div>
		</div>
		<span class="burger-btn">&#9776;</span>
		<div id="menu-burger" class="overlay-menu">
			<a href="javascript:void(0)" class="close-btn">&times;</a>
			<div class="overlay-content">
				{% for category in categories %}
					<div class="menu-item-{{ loop.index }}">
						<button class="accordion">{{ category.label }}</button>
						<div class="panel">
							{% for plateform in plateforms %}
								{% if plateform.category.label == category.label %}
									<a href="{{ path('platform_game', {platformSlug: plateform.slug, categoryLabel: category.label|lower }) }}">
										{{ plateform.label }}
									</a>
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<hr>
				{% endfor %}
				<div class="user-menu">
					{% if app.user %}
						<button class="accordion">{{ app.user.username }}</button>
						<div class="panel">
							{% if is_granted("ROLE_ADMIN") %}
								<a href="{{ path('app_admin') }}">{{ 'user.menu.admin'|trans }}</a>
								<a href="{{ path('newsletter_list') }}">{{ 'user.menu.newsletter'|trans }}</a>
								<hr>
							{% endif %}
							<a href="{{ path('user_my_account') }}">{{ 'user.menu.my_account'|trans }}</a>
							<a href="{{ path('user_my_order') }}">{{ 'user.menu.my_orders'|trans }}</a>
							<a href="{{ path('user_my_preference') }}">{{ 'user.menu.my_preference'|trans }}</a>
							<hr>
							<a href="{{ logout_path() }}" class="disconnect">{{ 'user.menu.logout'|trans }}</a>
						</div>
						{% else %}
							<button class="accordion">{{ 'user.menu.account'|trans }}</button>
							<div class="panel">
								<a href="{{ path('app_login') }}">{{ 'user.menu.login'|trans }}</a>
								<a href="{{ path('app_register') }}">{{ 'user.menu.register'|trans }}</a>
							</div>
					{% endif %}
				</div>
				<hr>
				<div class="cart-menu">
					<a href="{{ path('cart_index') }}" class="cart-btn">Accéder au panier</a>
				</div>
			</div>
		</div>
	</nav>
	{{ wo_render_breadcrumbs() }}
</header>
