{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
	{% if cart|length > 0 %}
		<div class="cart d-flex flex-wrap justify-content-center text-start gap-5 my-5">
			<div class="cart-item">
				<h2>Panier</h2>
				<div class="card d-flex gap-1 p-4">
					{% for item in cart %}
						<div class="game d-flex flex-wrap justify-content-between gap-2" id="gameCart" data-id="{{ loop.index0 }}">
							<div class="about d-flex flex-wrap gap-3">
								<a href="{{ path('app_show_game_platform', {categoryLabel: item.platform.category.label, platformSlug: item.platform.slug, gameSlug: item.game.slug}) }}">
									<div class="image">
									<img src="https://images.igdb.com/igdb/image/upload/t_cover_med/{{ render(controller('App\\Controller\\GameController::getImageIDGame', { gameLabel: item.game.label })) }}.jpg"
									     draggable="false" alt="cover for game: {{ item.game.label }}" loading="lazy">
									</div>
								</a>
								<div class="infos d-flex flex-column justify-content-center">
									<a href="{{ path('app_show_game_platform', {categoryLabel: item.platform.category.label, platformSlug: item.platform.slug, gameSlug: item.game.slug}) }}">
										<div class="game-platform d-flex align-items-center gap-2">
											<div class="platform-logo">
												<img src="{{ item.platform.logo }}"
													 draggable="false"
													 alt="plateforme {{ item.platform.label }}"
													 loading="lazy">
											</div>
											<div class="game-name">
												{{ item.game.label }}
											</div>
										</div>
									</a>
									<div class="delete-icon">
										<a href="{{ path('cart_remove', {'gameSlug': item.game.slug, 'platformSlug': item.platform.slug}) }}">
											<i class="bi bi-trash3-fill fa-lg"></i> Retirer
										</a>
									</div>
								</div>
							</div>
							
							<div class="price d-flex align-items-center gap-2">
								{# Initialisation d'une variable amount à la valeur null pour permettre de récupérer le stock par jeu #}
								{% set amount = null %}
								{# Boucle permettant d'effectuer une condition pour chaque stock du jeu #}
								{% for stock in item.game.stocks %}
									{# 	Condition pour vérifier :
									 		- La disponibilité du stock
											- La plateforme du stock est bien égale à la plateforme du jeu du panier
											- Le stock n'a pas été encore assigné à une commande #}
									{% if stock.isavailable == true and stock.plateform.id == item.platform.id and stock.purchase == null %}
										{# Si toute les conditions sont respecter, j'incrémente la valeur de amount #}
										{% set amount = amount + 1 %}
									{% endif %}
								{% endfor %}

								{# Création de la balise select pour afin de pouvoir récupérer une valeur "qtt" grâce a la class "qtt" #}
								<select name="qtt" class="form-select qtt">
									{# Boucle permettant de généré des options dans une fourchette entre 1 et la valeur de la variable "amount" #}
									{% for i in range(1, amount) %}
										{# 	Condition permettant de vérifier si la valeur de i est égale à la quantité du jeu
											Si c'est le cas, alors l'option sera sélectionné par défaut
											Sinon, si la valeur de i est inférieur ou égale à 5, alors l'option sera généré #}
										{% if i == item.quantity %}
											<option value="{{ i }}" selected>{{ i }}</option>
										{% else %}
											{% if loop.index <= 5 %}
												<option value="{{ i }}">{{ i }}</option>
											{% endif %}
										{% endif %}
									{% endfor %}
								</select>
								
								<strong>{{ item.game.price|price }}</strong>
							</div>
						</div>
						{% if not loop.last %}
							<hr>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			
			<div class="summary w-25">
				<h2>Récapitulatif</h2>
				<div class="card p-4 d-flex gap-1">
					<div class="details mb-2">
						<strong class="d-flex flex-wrap justify-content-between align-items-center">
							Sous-total <span class="fs-5">{{ cartTotal|price }}</span>
						</strong>
					</div>
					<div class="btns w-100">
						<a href="{{ path('order_create') }}" class="btn-primary-orange w-100">Passer la commande</a>
						<hr>
						<a href="{{ path('app_home') }}" class="btn-secondary-blue w-100">Continuer mes
							achats</a>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="container d-flex flex-column justify-content-center align-items-center my-5">
			<h1>Votre panier est vide</h1>
			<a href="{{ path('app_home') }}" class="btn-primary-orange">Retour à l'accueil</a>
		</div>
	{% endif %}
{% endblock %}
