{% extends 'base.html.twig' %}

{% block title %}Vérifier la commande{% endblock %}

{% block body %}
	<div class="container my-3 text-start">
		<div class="d-flex flex-column gap-5 w-100">
				<div class="address">
					<h2>Adresse de facturation</h2>
					<div class="card d-flex gap-3 p-3">
						<div class="form-check">
							<input type="radio" checked class="form-check-input" name="delivery">
							<label class="form-check-label" for="delivery">
								<span>{{ delivery|raw }}</span>
							</label>
						</div>
					</div>
				</div>
				<div class="recap">
					<h2>Récapitulatif de commande <span class="text-muted text-lowercase">({{ recapCart|length }} produits)</span></h2>
					<div class="cards d-flex flex-column gap-3">
						<div class="card p-3">
							{% for item in recapCart %}
								<div class="about d-flex flex-row flex-wrap justify-content-between text-start">
									<div class="game d-flex flex-column justify-content-start">
										<div class="game-label">
											<strong>{{ item.game.label }}</strong>
										</div>
										<div class="platform-label">
											<span>{{ item.platform.label }}</span>
										</div>
									</div>
									<div class="price d-flex flex-column text-start">
										<div class="quantity">
											<span><strong>Quantité :</strong> {{ item.quantity }}</span>
										</div>
										<div class="price">
											<span><strong>Prix :</strong> {{ totalByGame(item.game.price, item.quantity, '€') }}</span>
										</div>
									</div>
								</div>
								
								{% if not loop.last %}
									<hr>
								{% endif %}
							{% endfor %}
						</div>
						<div class="card p-3 d-flex flex-column gap-3">
							<div class="prices">
								<div class="tva d-flex justify-content-between">
									{% set TVA = cartTotal / 100 * 20 %}
									<span>TVA (20%) :</span>
									<span>{{ TVA|price }}</span>
								</div>
								<div class="total d-flex justify-content-between">
									<strong>TOTAL TTC</strong>
									<strong class="fs-5">{{ (cartTotal + TVA)|price }}</strong>
								</div>
							</div>
							
							<div class="validate d-flex flex-column w-100 gap-3">
								{% if method == 'stripe' %}
									<form method="post" action="{{ path('payment_stripe_checkout', {reference: reference}) }}">
										<button type="submit" class="btn-primary-orange w-100">Payer par stripe
											| {{ (cartTotal + TVA)|price }}</button>
									</form>
								{% else %}
									<form method="post" action="{{ path('payment_paypal_checkout', {reference: reference}) }}">
										<button type="submit" class="btn-primary-orange w-100">Payer par paypal
											| {{ (cartTotal + TVA)|price }}</button>
									</form>
								{% endif %}
								<form method="post" action="{{ path('order_cancel', {reference: reference}) }}">
									<button type="submit" class="btn-secondary-blue w-100">Annulez la commande</button>
								</form>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
{% endblock %}
