{% extends 'base.html.twig' %}

{% block title %}Donnez votre avis!{% endblock %}

{% block body %}
	<div class="card w-50 p-5 m-auto">
		<h1>Laissez votre commentaire</h1>
		<div class="infos">
			Jeux: <strong><a href="{{ path('app_show_game', {gameSlug: game.slug}) }}">{{ game.label }}</a></strong>
			Plateforme: <strong>{{ platform.label }}</strong>
		</div>
		<div class="form">
			{{ form_start(ratingForm) }}
			<div class="ratingStars" id="ratingStar">
				<i class="bi bi-star star" data-value="1" data-label="A éviter"></i>
				<i class="bi bi-star star" data-value="2" data-label="Mauvais"></i>
				<i class="bi bi-star star" data-value="3" data-label="Moyen"></i>
				<i class="bi bi-star star" data-value="4" data-label="Bon"></i>
				<i class="bi bi-star star" data-value="5" data-label="Excellent"></i>
			</div>
			<div class="star-label text-center" id="labelRating"></div>
			<input type="hidden" name="rating" id="rating" value="0">
			{{ form_widget(ratingForm) }}
			{{ form_end(ratingForm) }}
		</div>
	</div>
{% endblock %}
