<a href="{{ path('app_show_game', {gameSlug: game.game.slug }) }}">
    <div class="gameCard">
        <div class="cover-img">
            <figure>
                <img src="//images.igdb.com/igdb/image/upload/t_cover_big/{{ game.coverID }}.jpg"
                     draggable="false"
                     alt="cover for game: {{ game.game.label }}"
                     aria-label="cover for game: {{ game.game.label }}"
                     loading="lazy" />
            </figure>
            {% if game.game.isIsPromotion %}
                <div class="in-promotion">
                    {{ game.game.getPromoPercent|promo }}
                </div>
            {% endif %}
        </div>
        <div class="infos">
            <div class="label">
                {{ game.game.label }}
            </div>
            <div class="price">
                {{ game.game.price }} €
            </div>
        </div>
        {% if game.game.dateRelease > date('now') %}
            <div class="preco">
                <div class="badge">Préco</div>
                <div class="date">
                    {{ dateFR(game.game.dateRelease) }}
                </div>
            </div>
        {% endif %}
    </div>
</a>