<a href="{{ path('app_show_game_genre', {genreSlug: genre.slug}) }}">
    <div class="genreCard">
        <figure>
            <img src="/img/genres{{ asset(genre.image) }}" alt="{{ 'gender.image.alt'|trans({"%gender%": genre.label}, "gender") }}" aria-label="{{ 'gender.image.aria_label'|trans({"%gender%": genre.label|lower}, "gender") }}" loading="lazy">
            <figcaption>
                {{ genre.label|upper }}
            </figcaption>
        </figure>
    </div>
</a>