{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5" style="max-width: 600px;">
        <div class="card p-5 rounded">
            <h1 class="mb-3 font-weight-normal">S'inscrire</h1>
            {% if app.flashes('success') %}
                {% for message_success in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">{{ message_success }}</div>
                {% endfor %}
            {% else %}
                {% for message_error in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">{{ message_error }}</div>
                {% endfor %}
            {% endif %}
            {{ form_start(registrationForm) }}
            <div class="card-body">
                <div class="form-floating mb-3">
                    {{ form_widget(registrationForm.username) }}
                    {{ form_label(registrationForm.username) }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(registrationForm.email) }}
                    {{ form_label(registrationForm.email) }}
                </div>

                <div class="row g-2 mb-3">
                    <div class="form-floating col">
                        {{ form_widget(registrationForm.plainPassword.first) }}
                        {{ form_label(registrationForm.plainPassword.first) }}
                    </div>
                    <div class="form-floating col">
                        {{ form_widget(registrationForm.plainPassword.second) }}
                        {{ form_label(registrationForm.plainPassword.second) }}
                    </div>
                </div>

                <div class="checkbox mb-3">
                    <label>{{ form_widget(registrationForm.agreeTerms) }}</label>
                </div>


                <button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>

{% endblock %}
